<div class="row justify-content-end">
    <div class="col-auto">
        <form>
            <select class="form-select" name="{{ conf.item_per_page_name }}" onchange="this.form.submit()">
                {% for item in conf.item_per_page_options %}
                    <option value="{{ item }}" {% if conf.item_per_page_selected == item|string %}selected{% endif %}>
                        {{ item }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-auto">
        <ul class="pagination">
{#            <li class="page-item pagination-selector">#}
{#                <a class="page-link pagination-link bg-secondary text-white" href="#">Prev</a>#}
{#            </li>#}
            {% for page in conf.pages %}
                <li class="page-item {% if page.selected %}active{% endif %}">
                    <a class="page-link pagination-link" href="{{ page.url }}">
                        {{ page.text }}
                    </a>
                </li>
            {% endfor %}
{#            <li class="page-item pagination-selector">#}
{#                <a class="page-link bg-secondary text-white pagination-link" href="#">Next</a>#}
{#            </li>#}
        </ul>
    </div>
</div>