
{% if conf.wrapper %}
    <div {{ conf.wrapperKlass |safe }} {{ conf.field.topAttr | safe }}>
{% endif %}

{% if conf.field.label %}
    <label class="form-label">
        {% if conf.field.required %}
            <span class="text-danger me-1">*</span>
        {% endif %}
        {{ conf.field.label }}
    </label>
{% endif %}


{% if conf.field.inputType == "textarea" %}
    <textarea
            name="{{ conf.field.name }}"
            {% if conf.field.placeholder %}placeholder="{{ conf.field.placeholder }}"{% endif %}
            class="form-control {{ conf.field.inputAttrClass }} {{ conf.field.has_error and 'is-invalid' }}"
            {{ conf.field.inputAttr }}
    >{{ conf.field.value }}</textarea>
{%- elif conf.field.inputType == "select" %}
    <select
            name="{{ conf.field.name }}"
            {% if conf.field.isMultiSelect %}multiple{% endif %}
            class="form-select {{ conf.field.inputAttrClass }} {{ conf.field.has_error and 'is-invalid' }}"
            {{ conf.field.inputAttr }}
    >
        {% for option in conf.options %}
            <option value="{{ option.value }}"
                    {% if option.selected %}selected{% endif %}
            >{{ option.label }}</option>
        {% endfor %}
    </select>
{% else %}
    <input
            type="{{ conf.field.inputType }}"
            name="{{ conf.field.name }}"
            value="{{ conf.field.value }}"
            {% if conf.field.placeholder %}placeholder="{{ conf.field.placeholder }}"{% endif %}

            class="form-control {{ conf.field.inputAttrClass }} {{ conf.field.has_error and 'is-invalid' }}"
            {{ conf.field.inputAttr }}
    >
{% endif %}




{% if conf.field.errors %}
    <div class="invalid-feedback">
        {{- conf.field.errors }}
    </div>
{%- elif conf.field.helpText %}
    <div class="form-text">
        {{- conf.field.helpText }}
    </div>
{% endif %}



{% if conf.wrapper %}
    </div>
{% endif %}