<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0.5 shadow justify-content-between">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">
        {{ pweb_app_name }}
    </a>
    <div class="dropdown dropdown-menu-end">
        <button type="button" class="btn  btn-dark dropdown-toggle pf-btn-profile btn-align" data-bs-toggle="dropdown">
          Touhid
        </button>
        <ul class="dropdown-menu drop-content">
            <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Setting</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt me-2"></i>User login</a></li>
            <hr class="spaceing">
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-2"></i>Logout </a></li>
        </ul>
    </div>

    <button class="navbar-toggler pf-collapse-nav nav-hight position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>