<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-bag"></i>
                    <span data-feather="file"></span>
                    Orders
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link dropdown-after btn-toggle collapsed" data-bs-toggle="collapse"
                   data-bs-target="#home-collapse" aria-expanded="true" href="#">
                    <i class="fab fa-product-hunt"></i>
                    <span data-feather="shopping-cart"></span>
                    Products
                </a>

                <div class="collapse" id="home-collapse">
                    <ul class="ms-4 btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item"><a href="#" class="nav-link rounded"><i
                                class="fas fa-clipboard-list me-2"></i>Category</a></li>
                        <li class="nav-item"><a href="#" class="nav-link rounded"><i
                                class="fas fa-calendar-plus me-2"></i>Add Product</a></li>
                        <li class="nav-item"><a href="#" class="nav-link rounded"><i
                                class="fas fa-layer-group me-2"></i>Stock</a></li>
                    </ul>
                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-list-ul"></i>
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-file-alt"></i>
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-network-wired"></i>
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Settings</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-door-open"></i>
                    Operators
                </a>
            </li>
        </ul>
    </div>
</nav>