{% extends "bdash/layout/base-layout.html" %}
{% block title %}Operator List{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Operators</h1>
        <div>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-secondary sm-res-btn" type="submit">Search</button>
                    <a href="{{ url_for('bdash_operator.create') }}" class="btn btn-primary sm-res-btn">Create</a>
                    <a href="#" class="btn btn-danger sm-res-btn">Reload</a>
                </div>
            </form>
        </div>
    </div>
    <div class="amin-table">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                {% sortable_header name="firstName" %}
                {% sortable_header name="lastName" %}
                {% if identifier == "email" %}
                    {% sortable_header name="email" %}
                {% else %}
                    {% sortable_header name="username" %}
                {% endif %}
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for operator in data.items %}
                <tr>
                    <td>{{ operator.firstName|default("", True) }}</td>
                    <td>{{ operator.lastName|default("", True) }}</td>
                    {% if identifier == "email" %}
                        <td>{{ operator.email }}</td>
                    {% else %}
                        <td>{{ operator.username }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% pagination current_page=data.page, total_page=data.pages %}
{% endblock %}